<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %} <!-- Cargar la biblioteca de etiquetas estáticas -->
    {% load form_tags %}
    {% load widget_tweaks %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="shortcut icon" href="{% static '../static/imagenes/pachos.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
            <h3 class="card-title text-center">Modificar Persona</h3>
            <form method="post">
                {% csrf_token %}
                
                
                <div class="form-group">
                    <label for="id_nom_per">Nombre:</label>
                    {{ form.nom_per|add_class:"form-control" }}
                    {% if form.nom_per.errors %}
                        <div class="text-danger">{{ form.nom_per.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_ape_per">Apellido:</label>
                    {{ form.ape_per|add_class:"form-control" }}
                    {% if form.ape_per.errors %}
                        <div class="text-danger">{{ form.ape_per.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_cor_per">Correo:</label>
                    {{ form.cor_per|add_class:"form-control" }}
                    {% if form.cor_per.errors %}
                        <div class="text-danger">{{ form.cor_per.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_fky_tip_per">Tipo de Persona:</label>
                    {{ form.fky_tip_per|add_class:"form-control" }}
                    {% if form.fky_tip_per.errors %}
                        <div class="text-danger">{{ form.fky_tip_per.errors }}</div>
                    {% endif %}
                </div>
<!--
                <div class="form-group">
                    <label for="id_est_per">Estado:</label>
                    {{ form.est_per|add_class:"form-control" }}
                    {% if form.est_per.errors %}
                        <div class="text-danger">{{ form.est_per.errors }}</div>
                    {% endif %}
                </div>
-->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-50 mt-3">Guardar</button>
                </div>
            </form>

            <div class="d-flex justify-content-center mt-3">
                <a href="{% url 'personas_list' %}" class="btn btn-secondary w-50">Cancelar</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>