<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    {% load static %} <!-- Cargar la biblioteca de etiquetas estáticas -->
    {% load form_tags %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="container mt-5 d-flex justify-content-center ">
        <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
            <h2 class="mb-4 text-center">Modificar Producto</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nom_prod">Nombre del Producto</label>
                    {{ form.nom_prod|add_class:"form-control" }}
                    {% if form.nom_prod.errors %}
                        <div class="text-danger">{{ form.nom_prod.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="pre_prod">Precio del Producto</label>
                    {{ form.pre_prod|add_class:"form-control" }}
                    {% if form.pre_prod.errors %}
                        <div class="text-danger">{{ form.pre_prod.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="fky_cat">Categoría</label>
                    {{ form.fky_cat|add_class:"form-control" }}
                    {% if form.fky_cat.errors %}
                        <div class="text-danger">{{ form.fky_cat.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="fky_mar">Marca</label>
                    {{ form.fky_mar|add_class:"form-control" }}
                    {% if form.fky_mar.errors %}
                        <div class="text-danger">{{ form.fky_mar.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="est_prod">Estado del Producto</label>
                    {{ form.est_prod|add_class:"form-control" }}
                    {% if form.est_prod.errors %}
                        <div class="text-danger">{{ form.est_prod.errors }}</div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-50">Guardar Cambios</button>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <a href="{% url 'listar_productos' %}" class="btn btn-secondary mt-3 w-50">Volver</a>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
